* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	color: #EEE;
	font-family: Montserrat;
	background-color: #111;
}

#game {
	display: block;
	background: transparent;
}

#messagebox {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}

#gameWrapper {
	position: relative;
	top: 0;
	left: 0;
	height: 100%
}

#background {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: -99;
}

.a-enter-vr {
	display: none;
}

/* --------------- Config --------------- */
.configContainer {
	position: absolute;
	/*background-color: #2B3856;
	border: 1px solid #EEE;*/
	border-radius: 25px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	color: #EEE;
}

.keylist {
	border-collapse: collapse;
	border: 2px solid #1EE;
	width: 70%;
	background-color: #111;
	animation-name: glowie;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes glowie {
	from {
		box-shadow: 0 0 25px 0 #ff0051;
	}
	to {
		box-shadow: 0 0 48px 0 #ff0051;
	}
}

.keylist td, .keylist th {
	border: 1px solid #1EE;
	width: 50%;
	text-align: center;
	height: 45px;
}

/*.keylist button {
	width: 50%;
	background-color: #A1A;
  border: none;
  color: #EEE;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.keylist button:hover {
	border: 1px solid #EE1;
	box-shadow: 0 0 10px 3px #1E1;
}

.keylist button:active {
	background-color: #EEE;
	color: #111;
	border-color: #1EE;
}

.lockedBinding:hover {
	box-shadow: 0 0 10px 3px #E11 !important;
}*/

/* --------------- Mobile --------------- */
.mobile {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	height: 13vw;
	background: rgba(150,150,150,0.3);
	font-size: 10vw;
}

.mobile>i {
	pointer-events: none;
}

#horizontal {
	width: 26vw;
	left: 0;
	bottom: 7vh;
}

#jump {
	width: 13vw;
	right: 0;
	bottom: 7vh;
}

/* --------------- Editor --------------- */

#editor {
	position: absolute;
	left: 0;
	top: 10vh;
	color: #ff83aa;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 25%;
	padding: 5px;
}

#editor label{
	padding:4px;
}

#editor p {
	border: 1px solid #ff83aa;
	box-shadow: inset 0 0 7px #ff0051;
	width: 90%;
	padding: 5px;
	text-align: center;
}

#editor p:hover {
	box-shadow: inset 0 0 12px #ff0051;
	color: #ffd3e1;
}

#editor div {
	padding: 10px;
}

#editor>* {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}

#propsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

/* --------------- Buttons --------------- */

.NeonButton{
	background-color: #00000000;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    color: #ff83aa;
    text-shadow: 0 0 1px #ff0051, 0 0 2px #ff0051, 0 0 4px #ff0051, 0 0 8px #ff0051, 0 0 16px #ff0051, 0 0 32px #ff0051, 0 0 64px #ff0051, 0 0 128px #ff0051;
}

.NeonButton:hover{
	text-shadow: 0 0 1px #ff0051, 0 0 2px #ff0051, 0 0 4px #ff0051, 0 0 8px #ff0051, 0 0 16px #ff0051, 0 0 32px #ff0051, 0 0 64px #ff0051, 0 0 128px #ff0051, 0 0 256px #ff0051;
	color: #ffd3e1;
}

.NeonButton:active{
	text-shadow:0 0 1px #ff0051, 0 0 2px #ff0051, 0 0 4px #ff6495, 0 0 8px #ff709d, 0 0 16px #ffa8c4, 0 0 32px #ffadc7, 0 0 64px #ffadc7, 0 0 128px #ffadc7;
	color:#ffa8c4;
}

.NeonButton:focus{
	outline: none;
}

/*@keyframes GlowBox{
	0%
	{
		box-shadow-color:#ff0051;
	}
	100%
	{
		box-shadow-color:#ffc7d9;
	}

}*/
